{% extends "main.html" %}
{% block content %}
{% include "header.html" %}


	<div class="row banner menu">
		<div class="col-md-6">
			<h1>{{ categ.name }} </h1>

		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
<br/>
<div class="container generalItems">
<div class="row">
		<div class="col-sm-5 ">
			<a href="{{url_for('newCategoryItem',category_id=categ.id)}}">
				<button class="btn" id="new-menu-item">
					Add item
				</button>
			</a>
            
            
            <a href="{{url_for('editCategory',category_id=categ.id)}}">
				<button class="btn" id="new-menu-property">
					Edit Category
				</button>
			</a>
			
				<a href="{{url_for('deleteCategory',category_id=categ.id)}}">
				<button class="btn delete" id="delete-categ">
					Delete Category
				</button>
			</a>
		</div>
		
	</div>
<br/><br/>

<div class="container">
<div class="row">
 <div class="col-sm-5">
     
     {% if countItems < 2 %}
     <h2> {{categ.name}} items ({{countItems}} item) </h2>
     {% else %}
     <h2>{{categ.name}} items ({{countItems}} items) </h2>
     {% endif %}
     <br/>
    
      {% for item in items %}
      <div class="menu-item">
          <a href = "{{url_for('showItemDescription',category_id=categ.id,item_id=item.id)}}">       <h3>{{item.name}}</h3> </a>
          
       Manufacture: <p class="menu-manufucture"> {{item.manufacture}}</p> 
          
       Price: <p class="menu-price">{{item.price}} $</p>
          <a href="{{url_for('editCategoryItem', category_id = categ.id, item_id=item.id ) }}">Edit</a>
          <a href="{{url_for('deleteCategoryItem', category_id = categ.id, item_id=item.id)}}">Delete</a>
           </div>
     <br/>
     {% endfor %}
     </div>
    </div>
   




{% endblock %}