{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 ">
			<h1>New Item for {{categ.name}} </h1>
		</div>
	</div>

    <div class="row">
		<div class="col-md-6">
			<form action="#" method = "post">
                <div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="50" class="form-control" name="name" placeholder="Name of the item">
                    
                    
					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the course"></textarea>
                   
                      
					<label for="price">Price:</label>
                    <div class="form-group">
					<input type ="text" class="form-control" maxlength="10" name="price" placeholder="Price in $">
					</div>
                  
                    
                   
                    <label for="manufacture">Manufacture:</label>
                     <div class="form-group">
				    <input type ="text" maxlength="50" class="form-control" name="manufacture" placeholder="Manufacture of the item">
                    
				    </div>
                
                </div>
            </div>
              </div> 
                    <div class="row">
                         
                        <div class="col-md-1">
					     <button type="submit" class="btn" id="submit" type="submit">
					            Create</button>
                           
				         </div>
                          </form>
                   
			 <div class="col-md-1">
               <a href = "{{url_for('categoryItems',category_id=categ.id)}}">
		          <button class="btn">Cancel</button>
	                    </a>
            
		              </div>
	                  </div>
        <br/>
{% endblock %}
